{% extends "admin/base_site.html" %}
{% load i18n %}


{% block title %}{% trans 'Letters list' %}{% endblock %}


{% block content %}

<table border="1">

    {% for letter in list %}
        <tr>
            <th>{% trans 'From' %}</th>
            <td>{{  letter.author }}</td>
            <th>{% trans 'Subject' %}</th>
            <td>{{  letter.subject }}</td>
        </tr>
        <tr>
            <td colspan=4>{{ letter.content }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock content %}
